/* services.css */
.services-container {
    padding: 4rem 1rem;
    background-color: #fff8de;
    color: #333;
    text-align: center;
    font-family: Georgia, serif;
  }
  
  .services-heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    color: #333;
    font-family: 'Georgia', serif;
    animation: fadeInLeft 1s ease-in-out;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 0 1rem;
    
  }
  
  .service-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    animation: fadeInRight 1s ease-in-out;
  }
  
  .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .service-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .service-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #444;
  }
  
  .service-description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1rem;
  }
  
  .service-price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .service-button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .service-button:hover {
    background-color: #555;
  }
  
  .show-more-container {
    margin-top: 1.5rem;
  }
  
  .show-more-button {
    font-family: Georgia, serif;
    background-color: #ffc107;
    color: #333;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .show-more-button:hover {
    background-color: #e0a806;
  }
  